
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans&family=Oswald:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');

body
{
    font-family: 'Comfortaa', cursive;
}

// Section padding
.section
{
    padding-inline: 14rem;
}

// Green short borders in different sections
.border
{
    width: 2.8rem;
    height: 5px;
    background-color: #61A43A;
    border: solid 1px #61A43A;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

h1
{
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
}

h1::after
{
    content: "•";
    margin-left: 0.5%;
    color: #FFC20E;
    position: absolute;
    bottom: -12%;
}

h3
{
    position: relative;
}

h3::after
{
    content: "•";
    margin-left: 0.5%;
    color: #FFC20E;
    position: absolute;
    bottom: -12%;
}

h2
{
    position: relative;
}

h2::after
{
    content: "•";
    margin-left: 0.5%;
    color: #FFC20E;
    position: absolute;
    bottom: -12%;
}

// Green buttons
.btn-green
{
    text-decoration: none;
    padding: 12px 30px;
    color: white;
    border: none;
    border-radius: 2rem;
    background-color: #71BF44;
    transition: ease-out 80ms;

    &:hover
    {
        background-color: #61A43A;
        transition: ease-in 80ms;
    }
}

// Green arrows
.fa-solid.fa-arrow-right
{
    color:#71BF44;
}

//Header
.header
{
    background-color: #140B26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 14rem;
    padding-block: 1rem;
    position: fixed;
    z-index: 1;
    width: 100%;

    #menu-btn
    {
        padding: 12px 18px;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: white;
        border: solid 2px white;

        i
        {
            margin-right: 0.5rem;
        }
    }

    #logotype-big
    {
        width: 104px;
        height: auto;
    }
}

// Section 1 - "Förverkliga"
.showcase
{
    background-color: #F2EEE9;
    padding-bottom: 6rem;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    h1
    {
        font-size: 5.4rem;
        margin-inline: 16rem;
        margin-bottom: 3rem;
    }

    p
    {
        margin-bottom: 3rem;
    }
}


// Section 2 - "Våra tjänster"
.services
{
    background-color: #F2EEE9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    column-gap: 2rem;
    position: relative;
    padding-bottom: 6rem;

    .container
    {
        background-color: white;
        height: 100%;
        padding-block: 2rem;
        padding-inline: 0.5rem;
        border-radius: 0.5rem;
        position: relative;

        h3
        {
            font-size: 20px;
            font-weight: 600;
        }

        a
        {
            color:#140B26;
            text-decoration: none;
        }

        .image-container
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
        }

        p
        {
            padding-bottom: 6rem;
        }

        i
        {
            position: absolute;
            right: 6%;
            bottom: 4%;
            font-size: 1.1rem;
            transition: ease-out 400ms;

            &:hover
            {
                transition: ease-in 150ms;
                right: 4.5%;
            }
        }
    }

}

// Section 3 - "Våra mål"
.goals
{
    background-color: #140B26;
    padding-block: 6rem;
    display: flex;

    .container
    {
        display: block;
        margin: auto;
        color: white;
        margin-right: 2.8rem;
        position: relative;
    }
}

// Section 4 - "Idé till verklighet"
.ide
{
    padding-block: 6rem;
    background-color: #F2EEE9;;

    .container-my
    {
        color: #140B26;
        display: flex;
        justify-content: space-between;
        position: relative;
    
        .text-container
        {
            width: 42%;
    
            a
            {
                color:#61A43A;
                text-decoration: underline;
                transition: ease-out 80ms;
    
                &:hover
                {
                    color:#71BF44;
                    text-decoration: underline;
                    transition: ease-in 80ms;
                }
            }
        }
    }
}

// Section 5 and 7 - "Case Södra & Holmgrens"
.case
{
    background-color: #F2EEE9;
    
    a
    {
        color: #140B26;
        text-decoration: none;

        &:hover
        {
            color:#140b26b8;
        }
    }

    .container-case
    {
        display: flex;
        background-color: white;
        position: relative;
        border-radius: 0.5rem;

        .text-container
        {
            display: block;
            margin: auto;
            padding: 3rem;
            position: relative;

            b
            {
                font-size: 0.85rem;
            }

            h2
            {
                font-weight: 600;
                margin-top: 2rem;
                margin-bottom: 1rem;
            }

            .holmgren
            {
            left: 27.5%;
            top:67.3%;
            }
        }

        i
        {
            position: absolute;
            left: 39%;
            bottom: 3%;
            font-size: 1.1rem;
            transition: ease-out 400ms;

            &:hover
            {
                transition: ease-in 150ms;
                left: 39.5%;
            }
        }
    }

    #trees
    {
        width: 56%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; 
    }
}

// Section 8 - "Entreprenörer"
.cases
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-bottom: 2rem;
    background-color: #F2EEE9;

    #first-box
    {
        grid-column: 1 / 2;
    }

    .container
    {
        padding: 0;
        background-color: white;
        border-radius: 0.5rem;
        
        a
        {
            text-decoration: none;
            color: #140B26;

            &:hover
            {
                color:#140b26b8;
            }

            b
            {
                font-size: 0.7rem;
            }

            h3
            {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6rem;
            }
        }

        .image-case
        {
            width: 100%;
            border-start-start-radius: 0.5rem;
            border-start-end-radius: 0.5rem;
        }

        .text-container
        {
            margin-right: 6rem;
            padding: 2rem;
            padding-bottom: 4rem;
        }

    }
}

// Section 9 - "Marknader"
.markets
{
    padding-block: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: #281B44;

    a
    {
        color: black;
        text-decoration: none;

        h5
        {
            font-size: 1.1rem;
        }

        &:hover
        {
            h5
            {
                text-decoration: underline 2px #61A43A;
            }  
        }
    }

    #headline
    {
        grid-column: 1 / 4;
        margin: 0;
        padding: 0; 
    }

    h4{
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0; 
    }

    p{
        font-size: 0.9rem;
    }

    .container
    {
        padding: 0;

        #headline-item
        {
            background-color: #281B44;
            color: white;
            padding: 0rem; 
            padding-bottom: 1rem;
        }
        
        .container-item
        {
            background-color: white;
            padding-inline: 2rem;
            padding-top: 2.2rem;
            padding-bottom: 1.2rem;
            border-radius: 0.5rem;
            position: relative;
            transition: ease-out 120ms; 
            
            i
            {
                position: absolute;
                bottom: 6%;
                right:4%;
            }
            
            &:hover
            {
                i     
                {
                    transition: ease-in 120ms;
                    bottom: 6%;
                    right:3%;
                }
            }
        }
    }
}

// Section 11 & 12 - "Innovation & Entreprenörsresan"
.case
{
    padding-bottom: 1.5rem;
    .btn-green
    {
        display: inline;
    }
}

// Section 13 - "Kaffe"
.coffee
{
    background-color: #281B44;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;

    form
    {
        display: grid;
        align-items: center;
        justify-content: center;

        .input
        {
padding: 1rem; 
        }
    }

}




