
// Font-family
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans&family=Oswald:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');
body
{
    font-family: 'Comfortaa', cursive;
    position: relative;
}

// Section padding
.section
{
    padding-inline: 14rem;

    @media (max-width: 1600px)
    {
        padding-inline: 3rem;
    }

    @media (max-width: 768px)
    {
        padding: 1rem;
    }
}

// Green short borders in different sections
.border
{
    width: 2.8rem;
    height: 5px;
    background-color: #61A43A;
    border: solid 1px #61A43A;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

// Headlines styling
h1
{
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;

    @media(max-width:1200px)
    {
        line-height: 2.5rem;
        padding-block: 0.5rem;
        font-size: 2rem;
        margin: 0;
    }

    @media(max-width: 768px)
    {
        padding-block: 1rem;
    }
}

h1::after
{
    content: ".";
    font-size: 5rem;
    line-height: 0rem;
    margin-left: 0.2rem;
    color: #FFC20E;

    @media(max-width: 1200px)
    { 
        font-size: 2rem;
    }

    @media(max-width: 768px)
    { 
        font-size: 3rem;
    }
}

h3
{
    position: relative;
}

h3::after
{
    content: ".";
    font-size: 2rem;
    margin-left: 0.2rem;
    color: #FFC20E;
    line-height: 0rem;
}

h2
{
    position: relative;
}

h2::after
{
    content: ".";
    font-size: 3rem;
    margin-left: 0.2rem;
    color: #FFC20E;
    line-height: 0rem;
}

// Green buttons
.btn-green
{
    text-decoration: none;
    padding: 12px 30px;
    color: white;
    border: none;
    border-radius: 2rem;
    background-color: #71BF44;
    transition: background-color 100ms ease-in-out;

    &:hover
    {
        background-color: #61A43A;
    }
}

// Green arrows
.fa-solid.fa-arrow-right
{
    color:#71BF44;
}

//Overlay on bar-menu
#overlay 
{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(220, 220, 220, 0.249);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}

//Header
.header
{
    background-color: #140B26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 14rem;
    padding-block: 1rem;
    position: fixed;
    z-index: 1;
    width: 100%;

    @media (max-width: 1600px)
    {
        padding: 1rem;
    }

    a
    {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }  

    #menu-btn
    {
        padding: 12px 18px;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: white;
        border: solid 2px white;
        transition: background-color ease-in-out 100ms;
        transition: box-shadow ease-in-out 100ms;

        &:hover
        {
            background-color:  rgba(255, 255, 255, 0.225);
            box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.477);
        }

        i
        {
            margin-right: 0.5rem;
        }

        @media (max-width: 600px)
        {
            display: none;
        }
    }

    #logotype-big
    {
        width: 104px;
        height: auto;
        border-radius: 1rem;
        transition: background-color ease-in-out 100ms;
        transition: box-shadow ease-in-out 100ms;

        &:hover
        {
            background-color:  rgba(255, 255, 255, 0.225);
            box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.477);
        }
    }

        #contact-btn
        {@media (max-width: 600px)
        {
            display: none;
        }
        }

        #mobil-menu
    {
        color: white;
        font-size: 1.4rem;
        display: none;

        @media (max-width: 600px)
        {
            display: flex;
        }
    }

    #Go-To-Top
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        background-color: #71BF44;
        color: rgb(242, 242, 242);
        border-radius: 50%;
        position: fixed;
        opacity: 1;
        z-index: 5;
        bottom: 2%;
        right: 2%;
        transition: ease-in-out 120ms;

        &:hover
        {
            background-color: #61A43A;
            transform: scale(1.05);
            box-shadow: 0 0 2px 0 #213814ab;
        }
    }

    .btn-hide
    {
        opacity: 0 !important;
    }

}

// Section Menu
.outer-menu
{
    padding: 0;

    #menu {
        display: block;
        height: 100%;
        width: 25%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #140B26;
        padding: 0; 
        z-index: 2;
        top: 0;
        left: -100%;
        transition: left 300ms;

        @media (max-width: 768px)
        {
            width: 60%;
        }

        &.open {
            left: 0;
        }
      }

      ul
      {
        padding: 0;
      }
      
      #logotype-menu
      {
        width:30%;
        height: auto;
        padding-top:1rem;

        @media (max-width: 768px)
        {
            width: 80%;
        }
      }
      
      .menu li 
      {
        padding: 1.5rem; 
        color: white;
        list-style-type: none;
        border: solid 1px #281B44;

        &:hover
        {
            background-color: #281B44;
        }
      }
}

// Section 1 - "Förverkliga"
.showcase
{
    background-color: #F2EEE9;
    padding-bottom: 6rem;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    @media (max-width: 768px)
    {
        padding: 1rem;
        padding-top: 8rem; 
    }

    h1
    {
        font-size: 5.4rem;
        margin-inline: 16rem;
        margin-bottom: 3rem;
        line-height: 6rem;
        font-weight: 900;

        @media (max-width: 998px)
        {
            font-size: 3rem;
            line-height: 4rem;
            font-weight: 900;
        }

        @media (max-width: 768px)
        {
            font-size: 2rem;
            margin-inline: 0rem;
            margin-bottom: 0rem;
            line-height: 3rem;
            font-weight: 900;
        }
    }

    h1::after
    {
    content: ".";
    font-size: 10rem;
    margin-left: -1rem;
    color: #FFC20E;

    @media (max-width: 768px)
    {
        font-size: 4rem;
        margin-left: -0.5rem;
    }

    @media (max-width: 998px)
    {
        font-size: 4rem;
        margin-left: -0.5rem;
    }

    }

    p
    {
        margin-bottom: 3rem;
    }
}


// Section 2 - "Våra tjänster"
.services
{
    background-color: #F2EEE9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    column-gap: 2rem;
    position: relative;
    padding-bottom: 6rem;

    @media (max-width: 1400px)
    {
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
    }

    @media (max-width: 768px)
    {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 2rem;
    }

    .container
    {
        background-color: white;
        height: 100%;
        padding-block: 2rem;
        padding-inline: 0.5rem;
        border-radius: 0.5rem;
        position: relative;

        h3
        {
            font-size: 20px;
            font-weight: 600;
        }

        a
        {
            color:#140B26;
            text-decoration: none;
        }

        .image-container
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
        }

        p
        {
            padding-bottom: 6rem;
        }

        i
        {
            position: absolute;
            right: 6%;
            bottom: 4%;
            font-size: 1.1rem;
            transition: ease-out 400ms;

            &:hover
            {
                transition: ease-in 150ms;
                right: 4.5%;
            }
        }
    }

}

// Section 3 - "Våra mål"
.goals
{
    background-color: #140B26;
    padding-block: 6rem;
    display: flex;
    align-items: center;

    @media (max-width: 768px)
    {
        flex-direction: column;
        padding-block: 2rem;
    }

    .container
    {
        display: block;
        margin: auto;
        color: white;
        margin-right: 2.8rem;
        padding: 0;
        width: 50%;

        @media (max-width: 998px)
        {
            width: 100%;
        }
    }

    @media (max-width: 1600px)
    {
        #image-goals
        {
            width: 60%;
            height: 60%;
        }
    }

    @media (max-width: 768px)
    {
        text-align: center;

        .container
        {
            order: 2;
            margin: 0rem;
            margin-block: 1rem;
        }

        #image-goals
        {
            order: 1;
        }
    }

    #entreprenors
    {
        width: 60%;
        height: 60%;

        @media (max-width: 768px)
        {
        width: 80%;
        height: 80%;
        }

    }

    .btn-green.entre
    {
        @media (max-width: 900px)
        {
            padding: 1rem;
            font-size: 0.7rem;
        }
        
    }
}

// Section 4 - "Idé till verklighet"
.ide
{
    padding-block: 6rem;
    background-color: #F2EEE9;

    @media (max-width: 768px)
    {
        padding-block: 1rem;
        text-align: center;
    }

    .container-my
    {
        color: #140B26;
        display: flex;
        justify-content: space-between;
        position: relative;

        @media (max-width: 768px)
        {
            display: block;
            margin: auto;
        }
    
        .text-container
        {
            width: 42%;

            @media (max-width: 768px)
            {
                display: block;
                margin: auto;
                width: 100%;
            }
    
            a
            {
                color:#61A43A;
                text-decoration: underline;
                transition: ease-out 80ms;
    
                &:hover
                {
                    color:#71BF44;
                    text-decoration: underline;
                    transition: ease-in 80ms;
                    cursor: pointer;
                }
            }
        }
    }
}

// Section 5 and 7 - "Case Södra & Holmgrens"
.case
{
    background-color: #F2EEE9;
    
    a
    {
        color: #140B26;
        text-decoration: none;

        &:hover
        {
            color:#140b26b8;
        }
    }

    .container-case
    {
        display: flex;
        background-color: white;
        position: relative;
        border-radius: 0.5rem;

        @media (max-width: 1200px)
    {
        flex-direction: column;
        align-items: center;
        margin: auto;

        .text-container
        {
            order: 2;
        }
    
        #trees
        {
            order: 1;
            width: 100%;
            border-top-left-radius: 0.5rem;
            border-bottom-right-radius: 0rem;
        }
    }

        .text-container
        {
            display: block;
            align-self: center;
            margin: auto;
            padding: 3rem;
            position: relative;

            @media (max-width: 768px)
            {
                padding: 1rem; 
        
                .text-container
                {
                    order: 2;
                }
        
                #trees
                {
                    order: 1;
                }
            }

            b
            {
                font-size: 0.85rem;
            }

            h2
            {
                font-weight: 600;
                margin-top: 2rem;
                margin-bottom: 1rem;
            }

            i
            {
                position: absolute;
                right: 5%;
                bottom: -30%;
                font-size: 1.1rem;
                transition: ease-out 400ms;
    
                &:hover
                {
                    transition: ease-in 150ms;
                    right: 4%;
                }


                @media (max-width: 1600px)
                {
                    display: none;
                }
            }
        }


    }

    #trees
    {
        width: 56%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; 
    }
}

// Section 6 - "Cases"
.cases
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-bottom: 2rem;
    background-color: #F2EEE9;

    @media (max-width: 1200px)
    {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px)
    {
        grid-template-columns: 1fr;
    }

    #first-box
    {
        grid-column: 1 / 2;
    }

    .container
    {
        padding: 0;
        background-color: white;
        border-radius: 0.5rem;
        
        a
        {
            text-decoration: none;
            color: #140B26;

            &:hover
            {
                color:#140b26b8;
            }

            b
            {
                font-size: 0.7rem;
            }

            h3
            {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6rem;
            }
        }

        .image-case
        {
            width: 100%;
            border-start-start-radius: 0.5rem;
            border-start-end-radius: 0.5rem;
        }

        .text-container
        {
            margin-right: 6rem;
            padding: 2rem;
            padding-bottom: 4rem;

            @media(max-width: 1400px)
            {
            margin-right: 2rem;
            padding: 2rem;
            }

            @media(max-width: 768px)
            {
            margin-right: 0rem;
            padding: 1rem;
            }
        }

    }
}


// Section 9 - "Marknader"
.markets
{
    padding-block: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: #281B44;


    @media (max-width: 768px)
    {
        display: block;
        padding-block: 2rem;

        h4
        {
            text-align: center;
        }
    }

    a
    {
        color: black;
        text-decoration: none;

        h5
        {
            font-size: 1.1rem;
        }

        &:hover
        {
            h5
            {
                text-decoration: underline 2px #61A43A;
            }  
        }
    }

    #headline
    {
        grid-column: 1 / 4;
        margin: 0;
        padding: 0; 
    }

    h4{
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0; 
    }

    p{
        font-size: 0.9rem;
    }

    .container
    {
        padding: 0;

        @media (max-width: 768px)
        {
            margin-block: 0.5rem;
        }

        #headline-item
        {
            background-color: #281B44;
            color: white;
            padding: 0rem; 
            padding-bottom: 1rem;
        }
        
        .container-item
        {
            background-color: white;
            padding-inline: 2rem;
            padding-top: 2.2rem;
            padding-bottom: 1.2rem;
            border-radius: 0.5rem;
            position: relative;
            transition: ease-out 120ms; 

            @media (max-width: 768px)
            {
                padding: 1.5rem;
            }
            
            i
            {
                position: absolute;
                bottom: 6%;
                right:4%;
            }
            
            &:hover
            {
                i     
                {
                    transition: ease-in 120ms;
                    bottom: 6%;
                    right:3%;
                }
            }
        }
    }
}

// Section 11 & 12 - "Innovation & Entreprenörsresan"
.case
{
    padding-bottom: 1.5rem;
    .btn-green
    {
        display: inline;
    }
}

// Section 13 - "Kaffe"
.coffee
{
    background-color: #281B44;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    padding-block: 8rem;


    @media (max-width: 768px)
    {
        padding-block: 2rem;
    }

        

    .container
    {
        padding-inline: 2rem;
        display: block;
        margin: auto;
        width: 60%;

        @media (max-width: 1200px)
        {
        width: 80%;
        }

        @media (max-width: 768px)
        {
            width: 100%;
            padding-inline: 0rem;
        }

        a
        {
            color: #71BF44;
            text-decoration: none;

            &:hover
            {
                text-decoration: underline;
            }
        }
        
        input
        {
            width:80%;
            padding: 1rem;
            display: block;
            margin: auto;
            border-radius: 0.5rem;
            margin-block: 1rem;
        }

        textarea
        {
            width:80%;
            padding: 1rem;
            display: block;
            margin: auto;
            border-radius: 0.5rem;
            margin-block: 1rem;
        }
    
        #meassage
        {
            padding-bottom: 3rem;
        }

        p
        {
            font-size: 0.8rem;
        }

        .container-checkbox 
        {
        display: flex;
        justify-content: center;
        position: relative;
        margin-block: 2rem;
        width: 100%;
        
        }
  
  // Hide the browser's default checkbox 
    .container-checkbox  input 
    {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    }
  
  // Create a custom checkbox
    .checkmark 
    {
    position: relative;
    margin-right: 1rem;
    height: 22px;
    width: 22px;
    border: solid 1px #FFC20E;
    border-radius: 0.3rem;
    background-color: transparent;

    @media (max-width: 768px)
    {
        margin-right: 0.2rem;
    }
    }
  
  // Create the checkmark/indicator (hidden when not checked)
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
  
  // Show the checkmark when checked
    .container-checkbox input:checked ~ .checkmark:after {
    display: block;
    margin: auto;
    }
  
  // Style the checkmark/indicator
    .container-checkbox .checkmark:after 
    {
    left: 35%;
    top: 10%;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0px 2px 3px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }

        #send
        {
            width: 40%;
            border-radius: 2rem;
            margin-top: 3rem;
        }
    }
}

// FOOTER
.footer
{
    background-color: #140B26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-block: 1rem;
    width: 100%;

    @media (max-width: 768px)
    {
        flex-direction: column;
        row-gap: 1rem;
    }

    .socialmedia
    {
        @media (max-width: 768px)
        {
            b
            {
                font-size: 0.6rem;
            }
        }
    }

    p{
        margin-bottom: 0rem;
        font-size: 0.8rem;
    }

    #logo-footer
    {
        width: 6rem;
        height: auto;
        transition: background-color ease-in-out 100ms;
        transition: box-shadow ease-in-out 100ms;
        border-radius: 1rem;
        cursor: pointer;
        
        &:hover
        {
            background-color:  rgba(255, 255, 255, 0.225);
            box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.477);
        }
    }
    
    a
    {
        color: white;
        text-decoration: none;
        margin-inline: 1rem;
        font-size: 0.8rem;

        &:hover
        {
            text-decoration: underline;
        }
    }

    .copyright
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}




